
.cor-da-tabela{background-color: rgb(232, 243, 185);



}


div    {   
        width: 660px;
        height: auto;
        margin: 20px;
        padding: 10px;
        border: solid 5px;
        font-size: 31px;
        }